{% extends 'base.html' %}


{% block content %}
<div class="container">
    {% if form %}
<h3 20 style="text-align:center">Crear Empleado</h3>
<form method="POST" action="">
    {% csrf_token %}
<table>{{form.as_table}}</table>
   <input type="submit" value="Cargar empleado">
</form>
{% elif new_product %}

    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{new_empleado.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{new_empleado.nombre}}</h5>
      <p class="card-text">{{new_empleado.puesto}} <br> {{new_empleado.email}}</p>

    </div>

{% endif %}
</div>

{% endblock %}