{% extends 'base.html' %}


{% block content %}
<div class="container">
    {% if form %}
<h3 20 style="text-align:center">Crear Sucursal</h3>
<form method="POST" action="" enctype="multipart/form-data">
    {% csrf_token %}
<table>{{form.as_table}}</table>
   <input type="submit" value="Cargar sucursal">
</form>
{% elif new_product %}

    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{new_sucursal.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{new_sucursal.adress}}</h5>
      <p class="card-text">Año: {{new_sucursal.phone}} <br> Precio: {{new_sucursal.email}}</p>

    </div>

{% endif %}
</div>

{% endblock %}