{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">Empleados</h3>
<div class="container-sm">
<div class="alert alert-light" role="alert">
  Conocé a cada persona que permite que tu juguete llegue a tus manos
</div>

<div class="container">
    <div class="row">

{% for empleado in lista_empleados %}
        <div class="col-md-3">
    <div class="container-sm" style="display:inline-block" align="center">
    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{empleado.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{empleado.nombre}}</h5>
      <p class="card-text">Puesto: {{empleado.puesto}} <br> Mail: {{empleado.email}}</p>
      <a href="/empleado/detail-empleado/{{empleado.id}}/" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


