{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">Juguetes</h3>
<div class="container-sm">
<div class="alert alert-light" role="alert">
  Los juguetes formaron parte de nuestras infancias, es por eso que hoy los traemos a la puerta de tu hogar para revivir aquellas alegrías. 
<br>
Contamos con un amplio catálogo para que elija sus favoritos.
</div>

<div class="container">
    <div class="row">

{% for juguete in lista_juguetes %}
        <div class="col-md-3">
    <div class="container-sm" style="display:inline-block" align="center">
    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{juguete.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{juguete.name}}</h5>
      <p class="card-text">Año: {{juguete.year}} <br> Precio: {{juguete.price}}</p>
      <a href="/compra" class="btn btn-secondary">Comprar</a>
      <a href="/lista-juguetes/detail-juguete/{{juguete.id}}/" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


