{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">JUGUETES</h3>
{% for juguete in lista_juguetes %}
<div class="card mb-3" style="max-width: 240px;">
  <img src="/static/juguete.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{juguete.name}}</h5>
    <p class="card-text">Año: {{juguete.year}} <br> Precio: {{juguete.price}}</p>
    <a href="#" class="btn btn-primary">Comprar</a>
  </div>
</div>
    {% endfor %}
{% endblock %}


