{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">Quiénes Somos</h3>
<div class="container-sm">
<div class="alert alert-light" role="alert">
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
</div>

<div class="container">
    <div class="row">

{% for empleado in lista_empleados %}
        <div class="col-md-6">
    <div class="container-sm" style="display:inline-block" align="center">
    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{empleado.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{empleado.nombre}}</h5>
      <p class="card-text">Puesto: {{empleado.puesto}} <br> Mail: {{empleado.email}}</p>
    </div>
  </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


