{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">Quiénes Somos</h3>
<div class="container-sm">
<div class="alert alert-light" role="alert">
  <h3>Nuestra historia y trayectoria</h3>
  

  <p>Vintage Juguetes es una empresa internacional que acompaña a los fanaticos de jueguetes de todo el mundo.
  Nuestro objetivo es que los recuerdos puedan cobrar vida. 
  Permitir que los juguetes no queden en una generación del pasado, sino que estos sean parte de generaciones del presente y del futuro.</p>
</p>Comenzando siendo una pequeña empresa familiar, Vintage Jueguetes se ha expandido más que cualquier otra empresa con nuestros fines.
  En sus inicios Vintage Juguetes era solo una idea y un sueño. Sin embargo, estamos felices de ser parte de una empresa con más de 40 empleados.</p>
</p>Tenemos un sencillo modelo de ventas: ofrecer productos a precios accesibles para recibir jueguetes con valor nostalgico a domicilio mes con mes. 
  Contamos con gestion de  operaciones desde nuestro sitio web o en nuestras diversas sucursales, por lo que hemos creado una experiencia simple de compra para que cualquiera pueda adquirir una membresía.
  Incluso, desde 2017 que contamos con envio a todo el mundo.</p>
</p>Estamos orgullosos de nuestro camino y esperamos que esto sea solo el comienzo.</p>
 <br>
 Gracias por elegirnos y ayudarnos a crecer.

</div>

<div class="container">
    <div class="row">

{% for empleado in lista_empleados %}
        <div class="col-md-6">
    <div class="container-sm" style="display:inline-block" align="center">
    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{empleado.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{empleado.nombre}}</h5>
      <p class="card-text">Puesto: {{empleado.puesto}} <br> Mail: {{empleado.email}}</p>
    </div>
  </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}


