{% extends 'base.html' %}


{% block content %}
<h3 style="text-align:center">Sucursales</h3>
<div class="container-sm">
<div class="alert alert-light" role="alert">
  Disponemos de diversas sucursales cerca de su hogar para que pueda adquirir su juguete vintage a la brevedad.
</div>

<div class="container">
    <div class="row">

{% for sucursal in lista_sucursales %}
        <div class="col-md-3">
    <div class="container-sm" style="display:inline-block" align="center">
    <div class="card mb-3" style="max-width: 340px">
    <img src="/static/imagenes/{{sucursal.image}}" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{sucursal.adress}}</h5>
      <p class="card-text">Teléfono: {{sucursal.phone}} <br> Mail: {{sucursal.email}}</p>
      <a href="/vermasS" class="btn btn-primary">Ver mas</a>
    </div>
  </div>
    </div>
        </div>
    {% endfor %}
</div>
{% endblock %}

