{% extends 'base.html' %}

{% block titulo %}
    Detalle del empleado
{% endblock %}



{% block content %}
<h3 20 style="text-align:center">Detalles del empleado seleccionado</h3>
<div class="d-flex" style="margin-top:5rem; margin-left:7rem">

    <div class="card" style="width: 18rem;">
            <div class="card-body">
                <p>Empleado: {{empleado.nombre}}</p>
                <p>Puesto: {{empleado.puesto}}</p>
                <p> Mail: {{empleado.email}}</p>
            <a href="/lista-juguetes/update-juguete/{{object.id}}/" class="btn btn-primary">Editar</a>
            <a href="/lista-juguetes/delete-juguete/{{object.id}}/" class="btn btn-danger">Eliminar</a>
        </div>
    </div>

</div>


{% endblock %}


